/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */


body {
  background-color: rgb(238, 238, 238);
  font: 13.34px helvetica, arial, clean, sans-serif;
  width: 800px;
  margin: auto;
}

hr {
    border-color: #BBBBBB;
    border-style: none none solid none;
    border-width: medium medium 1px medium;
}

h1 {
    color: #333333;
    font-size: 1.6em;
    font-weight: bold;
}

h2 {
    color: #333333;
    font-size: 1.4em;
    font-weight: bold;
    border-bottom: 1px dashed #BBBBBB;
    padding-bottom: 0.2em;
}

h3 {
    font-size: 1.2em;
    color: #333333;
    font-weight: bold;
    margin: 1em 0;
}

h4 {
    font-size: 1em;
    color: #333333;
    font-weight: bold;
}

h5 {
    font-size: 1em;
    color: #333333;
    font-weight: normal;
}

h6 {
    font-size: 1em;
    color: #333333;
    font-weight: inherit;
}

p {
  margin: 1em 0;
}

a {
  color: rgb(0, 136, 204);
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration:underline;
}

a:visited {
  color: black;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts a {
	color: black;
}

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
	margin-left: 50px;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  background: none repeat scroll 0% 0% rgb(249, 249, 249);
  box-shadow: 0px 0px 7px rgb(172, 171, 171);
  border: 1px solid rgb(162, 161, 161);
  border-radius: 0px 0px 6px 6px;
  font-size: 110%;
  text-align: justify;
  width: 780px;
  margin: 10px 10px 40px 10px;;
  padding-bottom: 30px;
  line-height: 1.5em;
}

.title {
  background: url("../images/pattern1.png") repeat scroll 0% 0% rgb(247, 247, 247);
  border-bottom: 1px solid rgb(212, 211, 211);
  height: 50px;
  font-weight: bold;
  padding: 20px 20px 20px 20px;
  margin-bottom: 10px;
}

  .site .title a {
    color: black;
    text-decoration: none;
  }

  .site .title a:hover {
    color: black;
  }

  .site .title li {
    float: right;
	margin: 40px 0 0 10px;
	list-style: none;
    display: inline-block;
}

  .site .meta {
    color: #aaa;
	text-align: center;
  }


/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {
	padding: 0px 20px 0px 20px;
}

#post ul a {
	color: black;
}

#post h1{
	text-align: center;
}

  /* standard */

#post pre {
	font-family: Lucida,Verdana,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
    border-radius: 4px;
  }

#post code {
	font-family: Lucida,Verdana,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;;
	padding: 2px;;
	color: inherit;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #f5f5f5;
	border: 1px solid #e1e1e8;
	border-radius: 3px;
  }

#post pre code {
	font-family: Lucida,Verdana,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;;
	padding: 0 3px 2px;
	color: #333333;
	border: 0;
  }

  /* terminal */

#post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

#post pre.terminal code {
    background-color: #333;
  }


.tag_box.inline {
	list-style:none;
	margin-top: 10px;
	padding:5px 2px ;
	overflow:hidden;
	 display: inline-block;
	vertical-align: super;
}

.tag_box.inline a {
	color: black;
}

.tag_box.inline li {
	display: inline-block;
	padding: 0 2px;
}

.tag_box.inline li span {
    vertical-align: super;
	font-size: 12px;
}

